@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text: hsl(0, 0%, 100%);
        --background: hsl(0, 0%, 0%);
        --accent: hsl(0, 100%, 97%);
        --border: hsl(216, 34%, 17%);
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

::-webkit-scrollbar {
    width: 7px;
    background-color: var(--background);
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: var(--accent-foreground);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary);
}